Repository PyZenMatt/lms_backend, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/maintainers, @your-org/backend, @your-org/frontend, @your-org/devops

CODEOWNERS:

*       @your-org/maintainers
/backend/    @your-org/backend
/frontend/   @your-org/frontend
/infra/      @your-org/devops

workflow mancante
  .github/workflows/e2e.yml
  frontend/QA-E2E.md
  frontend/tests/e2e/setup/consoleFail.ts
  frontend/tsconfig.e2e.json
Owners: @your-org/maintainers, @your-org/frontend

chore: add e2e typecheck script and workflow step
  frontend/package-lock.json
  frontend/package.json
Owners: @your-org/frontend

fixing a comma
  .github/workflows/e2e.yml
  frontend/package.json
Owners: @your-org/maintainers, @your-org/frontend

fixing test e2e
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.e2e.json
Owners: @your-org/frontend

validazioine solo test e2e
  frontend/tsconfig.e2e.json
Owners: @your-org/frontend

fix: add vite to devDependencies for CI build
  frontend/package-lock.json
  frontend/package.json
Owners: @your-org/frontend

package mancanti
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.mjs
Owners: @your-org/frontend

package mancanti_2
  frontend/package-lock.json
  frontend/package.json
Owners: @your-org/frontend

backend-ci
  .github/workflows/backend-ci.yml
Owners: @your-org/maintainers

backend-ci
  .github/workflows/backend-ci.yml
Owners: @your-org/maintainers

backend-ci
  .github/workflows/backend-ci.yml
Owners: @your-org/maintainers

backend-ci
  .github/workflows/backend-ci.yml
Owners: @your-org/maintainers

backend-ci
  .github/workflows/backend-ci.yml
Owners: @your-org/maintainers

fixing py-test
  .github/workflows/backend-ci.yml
Owners: @your-org/maintainers

fixing py-test
  .github/workflows/backend-ci.yml
Owners: @your-org/maintainers

fixing py-test
  .github/workflows/backend-ci.yml
Owners: @your-org/maintainers

fixing py-test
  .github/workflows/backend-ci.yml
  pytest.ini
Owners: @your-org/maintainers

fixing py-test
  .github/workflows/backend-ci.yml
Owners: @your-org/maintainers

fixing py-test
  pytest.ini
Owners: @your-org/maintainers

fixing py-test
  .github/workflows/pytest.ini
Owners: @your-org/maintainers

fixing py-test
  backend/schoolplatform/settings/ci.py
Owners: @your-org/backend

fixing py-test
  backend/authentication/apps.py
  backend/blockchain/apps.py
  backend/core/apps.py
  backend/courses/apps.py
  backend/notifications/apps.py
  backend/rewards/apps.py
  backend/services/apps.py
  backend/users/apps.py
Owners: @your-org/backend

fixing a comma
  frontend/playwright.config.js
Owners: @your-org/frontend

fixing a comma
  frontend/playwright.config.js
Owners: @your-org/frontend

fixing a comma
  frontend/playwright-report/index.html
  frontend/playwright.config.js
Owners: @your-org/frontend

chore(ui): drop legacy-shims and migrate imports to @/components/ui
  frontend/src/components/ui/legacy-shims.tsx
Owners: @your-org/frontend

refactor(ui): remove adapters and migrate to primitives
  frontend/scripts/ban-legacy.mjs
  frontend/src/components/ui/adapters/bootstrap.tsx
Owners: @your-org/frontend

fix(ui): wrap Sidebar with SidebarProvider to satisfy context
  frontend/src/components/layout/AppShell.tsx
Owners: @your-org/frontend

chore(ui): add runtime Card.Body/Header/Footer aliases for legacy JSX
  frontend/src/components/ui/index.ts
Owners: @your-org/frontend

chore: rimozione node_modules residui fuori dal frontend
  .eslintignore
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  SECURITY.md
Owners: @your-org/maintainers
